{% extends 'user/base.html' %}

{% block content_bp %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-lg-6 col-12 mx-auto">
            <form action="{{ action }}" method="post">
                {{ form.hidden_tag() }}

                <div class="mb-1">
                    {{ form.login_url.label(class='form-label') }}
                    {{ form.login_url(class='form-control') }}
                    {% with errors = form.login_url.errors %}
                    {% if errors %}
                        {% for error in errors %}
                        <div class="form-text text-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                
                <div class="mb-1">
                    {{ form.login_query.label(class='form-label') }}
                    {{ form.login_query(class='form-control',placeholder='Like username=admin&password=admin') }} 
                    {% with errors = form.login_query.errors %}
                    {% if errors %}
                        {% for error in errors %}
                        <div class="form-text text-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <div class="mb-1">
                    {{ form.form_number.label(class='form-label') }}
                    {{ form.form_number(class='form-control',value='1') }} 
                    {% with errors = form.form_number.errors %}
                    {% if errors %}
                        {% for error in errors %}
                        <div class="form-text text-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <div class="mb-1">
                    {{ form.login_response.label(class='form-label') }}
                    {{ form.login_response(class='form-control') }} 
                    {% with errors = form.login_response.errors %}
                    {% if errors %}
                        {% for error in errors %}
                        <div class="form-text text-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <hr>
                <div class="mb-1">
                    {{ form.url.label(class='form-label') }}
                    {{ form.url(class='form-control',placeholder='Like localhost:6000/sqli') }} 
                    {% with errors = form.url.errors %}
                    {% if errors %}
                        {% for error in errors %}
                        <div class="form-text text-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <div class="mb-1">
                    {{ form.base_url.label(class='form-label') }}
                    {{ form.base_url(class='form-control') }} 
                    {% with errors = form.base_url.errors %}
                    {% if errors %}
                        {% for error in errors %}
                        <div class="form-text text-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <br>
        
                {{ form.submit(class='btn btn-primary') }}
            </form>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 col-lg-6 mx-auto">
            {% if errors %}
                <div class="list-group">
                {% for form_number,payload in errors %}
                    <p class="list-group-item">Test form <b>{{ form_number }}</b> with payload <b>"{{ payload }}"</b></p>
                {% endfor %}
                </div>
            {% else %}
                <h2>No errors found !</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}