<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a href="{{ url_for('index') }}" class="navbar-brand">Home</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#homenavbar"
            aria-controls="homenavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="homenavbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-2">
                <li class="nav-item">
                    <a href="{{ url_for('user.login') }}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('user.register') }}" class="nav-link">Register</a>
                </li>
            </ul>
        </div>

    </div>
</nav>