<div class="modal fade" id="Activate-{{ user.id }}" aria-labelledby="ActiveLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content" id="active-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ActiveLabel">User activation - {{ user.fname }} {{user.lname}}</h5>
          <button type="button" class="btn-close btn-close-white " data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>Do you want to activate this user ?</div><br>
          <form action="{{ url_for('admin.activate_user',id=user.id) }}" method="post">
            {{ active_form.hidden_tag() }}
            {{ active_form.submit(class='btn btn-success') }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>